body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    margin: 20px;
}

#grid-container {
    display: grid;
    gap: 1px;
    width: 80%; /* Ajuster la largeur de la grille en fonction de vos besoins */
    max-width: 800px; /* Ajuster la largeur maximale de la grille en fonction de vos besoins */
    margin: 20px auto;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cell.queen {
    background-color: #f0e68c;
}

.cell.x {
    background-color: #f08080;
}

@media (max-width: 600px) {
    .cell {
        font-size: 16px;
    }
}
